<nav>
	<ul>
		<a href="/welcome/home"><li>Home</li></a>	
		<a href="/welcome/home#featured-wigs"><li>Hairpieces</li></a>
		<a href="/welcome/home#hair-loss"><li>Custom Wigs</li></a>
		<a href="/welcome/home#education"><li>Education</li></a>
		<a href="/welcome/about"><li class="active">About Us</li></a>
		<a href="/welcome/press"><li>Press</li></a>

	</ul>
</nav>
<section class="filler">
</section>

<section class="founder">
	<aside class="founder-img">
		<div>
        <%= image_tag("jforu.jpg") %>
		<h2>CEO Tammara Taylor</h2>
    </div>
		
	</aside>
	<article class="founder-content">
		<h1>About the Founder</h1>
		<p>Mrs.Taylor was inspired by her mother and sister after cancer took their lives too soon. On February 11, 2011, Mrs. Taylor was in a devastating car crash that nearly ended her life. These experiences led her to realize the fragility of life, and to promise that her life would not be wasted. She soon learned to make wigs for herself while recovering in a wheelchair, and was thrilled by her new hobby. After a routine mammogram at Benedictine Hospital, God gave Mrs.Taylor the idea to volunteer her service by making ten wigs for cancer patients. The first patient changed Mrs. Taylor's outlook on wigs and made her realize their ability to promote confidence and positivity. She now realized that she could be part of the healing process for chemotherapy patients. Mrs.Taylor subsequently attended school to learn to make custom wigs by machine and by hand. The Perfect Fit will soon open an office and unique beauty and health supply store at 516 Broadway in Kingston, New York. Due to our belief that beauty begins on the inside, all of our locations will include organic beauty products and supplements at the affordable prices. At The Perfect Fit, we hope to see you grow with us one strand at a time.
		</p>
	</article>
</section>

<section class="company">
	<aside class="company-img">
		<div>
		<!-- <img src="/assets/jforu.jpg" alt="Tammara"> -->
		<%= image_tag("jforu.jpg") %>
		<h2></h2>
    </div>
		
	</aside>
	<article class="company-content">
		<h1>The Company - Just For You</h1>
		<p>The Perfect Fit aims to help women, men, and children regain confidence after suffering from illness-related hair loss. We also enjoy serving members of the general public who want to make a fashion statement. The company was founded by Tammara L. Taylor, a specialist in custom wigs and an expert in her field.
		</p>
	</article>
</section>


