<section class=" content row">
	
	<article class="columns small-12">
		<h2>Hair-loss</h2>
	  <p>Do you suffer with hair loss? Whether it’s natural hair loss, genetic hair loss or hair loss from cancer treatments, there is something you can do about your hair loss. Anyone can experience hair loss. Women actually make up a large percentage of American hair loss sufferers <strong>(1 in 4 women suffer from hair loss in the U. S. alone)</strong>, that’s over <strong>40 million women</strong>. </p>

	
	<ul>
		 
		<h3>Common Causes of Hair Loss</h3>
		<li>Heredity/Genetics</li>
		<li>Chemotherapy</li>
		<li>Radiation</li>
		<li>Stress/Trauma</li>
		<li>Illness/Disease</li>
		<li>Medications</li>
		<li>Age</li>
		<li>Poor Nutrition</li>
		<li>Hormonal Changes </li>
	</ul>
		<p>
		Alopecia is the medical term for excessive hair loss. It can be caused by various factors. 
		Whatever the reason may be for you, we have <strong class="color">“The Perfect Fit Just For You.”</strong>  What makes us different?  We are capable of customizing a unit that will be constructed just for you. We can construct a wig using your own hair, or we can use the top of the line highest grade of human hair for the most natural look. </p>
		<p>
		We are committed to creating gorgeous hair. Our priority is to help our clients look and feel their best! We go the extra mile for our clients. Schedule a one on one with one of our wig specialist and find out more information. We look forward to hearing from you. 
		 </p>
	</article>
</section>


