<header>
	<section class="left-section">
		<h1>The Perfect Fit, Just For You LLC</h1>
		<span id="store-hours">Tues - Sat. 11:00 - 6:00PM EST</span>
	</section>
	<section class="phone">
		<h2>(845) 750-5646</h2>
	</section>
</header>
<nav>
	<ul>
		<a href="#"><li>Home</li></a>
		<a href="#"><li>About Us</li></a>
		<a href="#"><li>Hairpieces</li></a>
		<a href="#"><li>Custom Wigs</li></a>
	</ul>
</nav>
<section class="intro-images">
</section>
<section class="featured-wigs">
	<ul>
		<a href="#"><li>
			  <div class="featured-titles"> <h2>WIGS TO LOVE</h2></div>
				<div class="featured-img"></div>
				<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
			</li></a>
		<a href="#"><li>
			  <div class="featured-titles"> <h2>LACE FRONTS </h2></div>
				<div class="featured-img"></div>
				<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
			</li></a>
		<a href="#"><li>
			    <div class="featured-titles"> <h2>SHORT & SEXY</h2></div>
				<div class="featured-img"></div>
				<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
			</li></a>
		<a href="#"><li>
			    <div class="featured-titles"> <h2>FEATURED BRANDS</h2></div>
				<div class="featured-img"></div>
				<div class="featured-stars"><i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;<i class="fa fa-star fa-2x"></i> &nbsp;</div>
			</li></a>			
	</ul>
</section>
<section class="hair-loss">
	
	<article>
		<h2>Hair-loss</h2>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra </p>
	</article>

	<article>
		<h2>Custom Wigs</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra </p>
	</article>
</section>
<section class="education">
	<article>
		<h2> <i class="fa fa-book fa-2x"></i> &nbsp;Education / Workshops</h2>
		<p>Lorem ipsum dolor sitamet,   consectetuer adipiscing 
			elit. Aenean commodo ligula eget dolor. Aenean massa. 
			Cum sociis natoque penatibus et magnis dis parturient 
			montes, nascetur ridiculus mus. Donec quam felis, 
			ultricies nec, pellentesque eu, pretium quis, sem.
    </p>
	</article>

	<article>
		<h2><i class="fa fa-calendar fa-2x"></i> &nbsp;Upcoming Events</h2>
		<p>Lorem ipsum dolor sitamet,   consectetuer adipiscing 
			elit. Aenean commodo ligula eget dolor. Aenean massa. 
			Cum sociis natoque penatibus et magnis dis parturient 
			montes, nascetur ridiculus mus. Donec quam felis, 
			ultricies nec, pellentesque eu, pretium quis, sem.
    </p>
	</article>
	
</section>
<footer>
	<article class="operation">
		<ul>
			<li> <i class="fa fa-clock-o fa-2x"></i> &nbsp;Hours of Operation</li>
			<li>Tuesday - Saturday: 11am- 6pm</li>
			<li>Sunday: Closed</li>
			<li>Monday: By Appointment Only</li>
		</ul>	
		<ul>
			<li><i class="fa fa-envelope-o fa-2x"></i>&nbsp;Address</li>
			<li>516 Broadway 2nd Floor Ste 6</li>
			<li>Kingston, New York 12401</li>
			<li>P: (845) 853-8040</li>
		</ul>
	</article>
	<article class="map">
		
	</article>
	<article>
		<i class="fa fa-facebook-square fa-5x"></i> &nbsp;<i class="fa fa-twitter-square fa-5x"></i> &nbsp;
	</article>
	

</footer>