<header>
	<section class="left-section">
		<h1>The Perfect Fit, Just For You LLC</h1>
		<span id="store-hours">Tues - Sat. 11:00 - 6:00PM EST</span>
	</section>
	<section class="phone">
		<h2>(845) 750-5646</h2>
	</section>
</header>
<nav>
	<ul>
		<a href="#"><li>Home</li></a>
		<a href="#"><li>About Us</li></a>
		<a href="#"><li>Hairpieces</li></a>
		<a href="#"><li>Custom Wigs</li></a>
	</ul>
</nav>
<section class="intro-images">
</section>
<section class="featured-wigs">
	<ul>
		<a href="#"><li>
			  <div class="featured-titles"> <h3>WIGS TO LOVE</h3></div>
				<div class="featured-img"></div>
				<div class="featured-stars">stars</div>
			</li></a>
		<a href="#"><li>
			  <div class="featured-titles"> <h3>LACE FRONTS </h3></div>
				<div class="featured-img"></div>
				<div class="featured-stars">stars</div>
			</li></a>
		<a href="#"><li>
			    <div class="featured-titles"> <h3>SHORT & SEXY</h3></div>
				<div class="featured-img"></div>
				<div class="featured-stars"> stars</div>
			</li></a>
		<a href="#"><li>
			    <div class="featured-titles"> <h3>FEATURED BRANDS</h3></div>
				<div class="featured-img"></div>
				<div class="featured-stars">stars</div>
			</li></a>			
	</ul>
</section>
<section class="hair-loss">
	<h3>hairloss</h3>
	<article>
		
	</article>
</section>
<section class="education">
	
</section>
<footer>
	<article class="operation">
		<ul>
			<li>Hours of Operation</li>
			<li>Tuesday - Saturday: 11am- 6pm</li>
			<li>Sunday: Closed</li>
			<li>Monday: By Appointment Only</li>
		</ul>	
		<ul>
			<li></li>
			<li></li>
			<li>516 Broadway 2nd Floor Ste 6</li>
			<li>Kingston, New York 12401</li>
			<li>P: (845) 853-8040</li>
		</ul>
	</article>
	<article class="map">
		
	</article>

	

</footer>