<nav>
	<ul>
		<a href="/welcome/home"><li>Home</li></a>	
		<a href="#featured-wigs"><li>Hairpieces</li></a>
		<a href="#hair-loss"><li>Custom Wigs</li></a>
		<a href="#education"><li>Education</li></a>
		<a href="/welcome/about"><li >About Us</li></a>
		<a href="/welcome/press"><li class="active">Press</li></a>

	</ul>
</nav>
<h1>presspage</h1>