<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
Hello, <%= @content["name"] %><br>


<p>This is to confirm that your message has be sent. We will get back to you within 48 hours with a response. We appreciate your business.</p>

Regards,<br>

Tammara<br>

The Perfect Fit<br>
<ul>
	<li>516 Broadway 2nd Floor Ste 6</li>
	<li>Kingston, New York 12401</li>
	<li>P: (845) 853-8040</li>
</ul>

 </body>
</html>


