// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*header section*/
$logo-color: rgba(96, 16, 115, 1);;
$hot_pink: rgba(255, 63, 255, 0.9);


/*navigation section*/
nav{
	clear: left;
	width: 100%;
	height: 3em;
	color: white;
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: -1em;

	/*ul{

		list-style-type: none;
		
		a{
			color: white;
		}
		li{
			display: inline-block;
			font-size: 1.4em;
			line-height: 2em;
			width: 6em;
			height: 100%;
			text-align: center;
		}

		li:hover{
			height: 100%;
		  background-color: $hot_pink;
			color: black;
		}
	}*/
}
.nav-background{
	background-color: black;
}

/*image section*/
.intro-images{
	height: 25em;
	width: 100%;
	border: 1px solid black;
	background-image: image-url("hair-3.jpg");
	background-size:100%;
}

/*.featured-wig{
	background-color: orange;
}*/
.featured-wig{
	/*height: 27em;*/
	/*width: 100%;*/

	.feature{
		margin-top: 1em;
	}
	
		.featured-titles{
			width: 100%;
			color: white;
			background-color: rgba(0,0,0,0.5);
			text-align: center;
			line-height: 2em;
			h2{
				color: white;
			}
		}
		.featured-img{
			height: 350px;
			width: 100%;
			background-color: orange;
			background-image: image-url("featured.jpeg");
			background-size: cover;
		}
		.featured-stars{
			height: 30px;
			width: 100%;
			color: $hot_pink;
/*  	  background-color: rgba(0, 0, 0, 0.6);
*/			text-align: center;
		}


}

.hair-loss{
	min-height: 25em;
	padding-top: 2em;
	background-color: rgba(255, 255, 255, 1);

	article{
  	float: left;
	  p{
	  	font-size: 1.2em;
	  }
	}
}

.education{
	padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.9);
	min-height: 18em;
  article{
  	color: white;
	  float: left;
		h2{
			color: white;
		}
	  p{
	  	font-size: 1.2em;
	  }
	  i{
	  	color: white;
	  }
	}
}

/*aboutus page*/
.filler{
	height: 5em;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}


.founder{
	height: 30em;
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);

	.founder-img{
		float: left;
		height: 100%;
		width: 25%;
		text-align: center;
  	padding-left:2em;
  	padding-top: 2em; 

		img{

			margin: 0 auto;
			height: 19em;
			width: 22em;
		}
	}

	.founder-content{
		float: left;
		height: 100%;
		width: 57%;
		padding-left:5em;
		p{
			font-size: 1.2em;
		}
	}
}


.company{
	max-height: 50em;
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);

	.company-img{
		padding-top: 2em; 
		padding-left:2em;
		float: left;
		height: 100%;
		width: 25%;
		text-align: center;

		img{
			margin: 0 auto;
			height: 19em;
			width: 22em;
		}
	}

	.company-content{
		float: left;
		height: 100%;
		width: 57%;
		padding-left:5em;
		p{
			font-size: 1.2em;
		}
	}
}

/*foundation changes*/
.row{
max-width: 88.5em;
}

.transparent-white{
	background-color: rgba(255,255,255,0.8);
}
nav{
/*Strip the ul of padding and list styling*/
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Create a horizontal list with spacing*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/*Style for menu links*/
li a {
	display:block;
	min-width:140px;
	height: 49px;
	text-align: center;
	line-height: 50px;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #fff;
	/*background: #2f3036;*/
	text-decoration: none;
}

/*Hover state for top level links*/

li:hover a {
	background: $hot_pink;
	color: black;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
	background: rgba(255, 63, 200, 0.7);;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: $hot_pink;
	text-align: center;
	padding: 10px 0;
	display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	ul {
		position: static;
		display: none;
	}
	/*Create vertical spacing*/
	li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}
}

