/*Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

/*header section*/
$logo-color: rgba(96, 16, 115, 1);
$hot_pink: rgba(255, 63, 255, 0.9);

.top-bar-section li a:not(.button):hover{
	color:#966AFC !important;
}


/*image section*/
.intro-images{
	overflow: hidden;
	max-height: 20em;
	img{
		width:100%;

	}
}

.featured-wig{

	h3{
		margin-left: 2em;
	}
	.feature{
		border-radius: 50%;
	  overflow: hidden;
		margin-top: 1em;
	}
	.feature:hover{
		border: solid 1px $hot_pink;
	}
	
	.featured-titles{
		width: 100%;
		color: white;
		background-color: rgba(0,0,0,0.5);
		text-align: center;
		line-height: 2em;
		
		h2{
			color: white;
			font-size: 100%;
		}
	}
	.featured-img{
		width: 100%;
	}
	.featured-stars{
		height: 30px;
		width: 100%;
		color: $hot_pink;
/*  background-color: rgba(0, 0, 0, 0.6);
*/	text-align: center;
	}
}

#hair-loss{
padding: 4em 2em;
	background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
	article{
  	float: left;
	  p{
	  	font-size: 1.1em;
	  }
	  .color{
	  	color:$hot_pink;
	  }
	}
}


.education{
	padding: 4em 2em;
  background-color: rgba(0, 0, 0, 0.9);
	min-height: 18em;
  article{
  	color: white;
	  float: left;
		h2{
			color: white;
		}
	  p{
	  	font-size: 1.1em;
	  }
	  i{
	  	color: white;
	  }
	  .color{
	  	color: $hot_pink;
	  }
	}
}

/*aboutus page*/
.filler{
	height: 5em;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}


.founder{
	height: 30em;
	width: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);

	.founder-img{
		float: left;
		height: 100%;
		width: 25%;
		text-align: center;
  	padding-left:2em;
  	padding-top: 2em; 

		img{

			margin: 0 auto;
			height: 19em;
			width: 22em;
		}
	}

	.founder-content{
		float: left;
		height: 100%;
		width: 57%;
		padding-left:5em;
		p{
			font-size: 1.2em;
		}
	}
}

.content{
	padding-top:5em;
	min-height: 30em;
	background-color: rgba(255,255,255,0.8);
		p{
			font-size: 1.2em;
		}
		h1{
			margin: 0;
		}
	}
/*foundation changes*/
.row{
max-width: 89.5em;
}

.transparent-white{
	background-color: rgba(255,255,255,0.8);
}

.fa{
	color:#966AFC;
}

.fa:hover{
    color:#CDBBF7;
}

.hair_loss{
	background-color: rgba(255,255,255,0.8);
}
.h1-color{
	margin-top: 5px;
	color: #626262;
	font-size: 1.5em;
}
.circular img{
	border-radius: 50%;
	overflow: hidden;

}
#amazon-products h3{
	margin-left: 2em;
}

