<!DOCTYPE html>
<html>
<head>
  <title>JforU</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<section class="left-section">
			<h1>The Perfect Fit, Just For You LLC</h1>
			<span id="store-hours">Tues - Sat. 11:00 - 6:00PM EST</span>
		</section>
		<section class="phone">
			<h2>(845) 750-5646</h2>
		</section>
  </header>

  <%= yield %>
  
	<footer>
		<article class="operation">
			<ul>
				<li> <i class="fa fa-clock-o fa-2x"></i> &nbsp;Hours of Operation</li>
				<li>Tuesday - Saturday: 11am- 6pm</li>
				<li>Sunday: Closed</li>
				<li>Monday: By Appointment Only</li>
			</ul>	
			<ul>
				<li><i class="fa fa-envelope-o fa-2x"></i>&nbsp;Address</li>
				<li>516 Broadway 2nd Floor Ste 6</li>
				<li>Kingston, New York 12401</li>
				<li>P: (845) 853-8040</li>
			</ul>
		</article>
		<article class="map">
			
		</article>
		<article class="social">
			<i class="fa fa-facebook-square fa-5x"></i> &nbsp;<i class="fa fa-twitter-square fa-5x"></i> &nbsp;
		</article>
	</footer>

</body>
</html>
